* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  & body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(241, 229, 214);
    & h1 {
      margin-left: 200px;
    }

    & .column-left {
      background-color: rgb(241, 229, 214);
      margin-left: auto;
    }
    & .column-right {
      background-color: rgb(241, 229, 214);
      margin-left: 200px;
      color: goldenrod;
    }
    & .card.vd {
      padding: 10px;
    }
    & .container-vd {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: auto;
      margin-bottom: 2.5rem;
    }
    & .card-team {
      margin-left: 0;
    }
    & .contact-form {
      display: flex;
      & h2 {
        margin-left: 0;
      }

      & .input-box {
        display: flex;
        flex-direction: column;

        & input {
          margin-bottom: 10px;
        }
      }
    }
    & .infotext {
      margin-left: 0;
      display: none;
      font-size: 2rem;
      text-align: center;
    }
  }
}
